flows/a415ddbc-1c44-4fa5-873b-d529c1e4affc/definition.json
{
    "name": "e69d4049-ce1e-4770-a905-7f9dde12a9cf",
    "id": "/providers/Microsoft.Flow/flows/e69d4049-ce1e-4770-a905-7f9dde12a9cf",
    "type": "Microsoft.Flow/flows",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "displayName": "Create and update a lead when a Calendly event is created",
        "definition": {
            "metadata": {
                "workflowEntityId": null,
                "processAdvisorMetadata": null,
                "flowChargedByPaygo": null,
                "flowclientsuspensionreason": "BillingConsumption",
                "flowclientsuspensiontime": "2023-09-27T16:32:59.6765314Z",
                "flowclientsuspensionreasondetails": null,
                "creator": {
                    "id": "e789b23c-37af-4813-a9e2-b68181b65809",
                    "type": "User",
                    "tenantId": "3f3d1d87-6c9c-41f1-83df-95da7c0587ec"
                },
                "provisioningMethod": "FromDefinition",
                "failureAlertSubscription": true,
                "clientLastModifiedTime": "2023-09-27T16:32:59.6765314Z"
            },
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                }
            },
            "triggers": {
                "When_a_meeting_is_booked": {
                    "metadata": {
                        "operationMetadataId": "31faad49-5224-4699-8611-6e5743d4da07"
                    },
                    "type": "OpenApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_calendlyv2",
                            "connectionName": "shared_calendlyv2",
                            "operationId": "CreateWebhookSubscription"
                        },
                        "parameters": {
                            "body/events": [
                                "invitee.created"
                            ]
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Create_Appointment": {
                    "runAfter": {
                        "Does_lead_exist": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "0e11e463-1f06-4227-b591-74c0f0db6f03"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "CreateRecord"
                        },
                        "parameters": {
                            "entityName": "appointments",
                            "item/scheduledend": "@triggerOutputs()?['body/payload/scheduled_event/end_time']",
                            "item/scheduledstart": "@triggerOutputs()?['body/payload/scheduled_event/start_time']",
                            "item/subject": "@triggerOutputs()?['body/payload/scheduled_event/name']",
                            "item/regardingobjectid_lead_appointment@odata.bind": "@variables('Lead ID')",
                            "item/activityid": "@split(triggerOutputs()?['body/payload/uri'], '/')[sub(length(split(triggerOutputs()?['body/payload/uri'], '/')), 1)]"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Find_Lead_by_email": {
                    "runAfter": {
                        "Was_first_name_and_last_name_provided": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "86d9c207-11cd-4df5-9c5d-363c5def0129"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords"
                        },
                        "parameters": {
                            "entityName": "leads",
                            "$select": "emailaddress1,leadid",
                            "$filter": "emailaddress1 eq '@{triggerOutputs()?['body/payload/email']}'",
                            "$top": 1
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Does_lead_exist": {
                    "actions": {
                        "Set_existing_Lead_ID": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "18871725-6209-4da1-82a5-6cfec251cedf"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Lead ID",
                                "value": "@{first(outputs('Find_Lead_by_email')?['body/value'])['@odata.id']}"
                            }
                        }
                    },
                    "runAfter": {
                        "Does_owner_exist": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Create_lead": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "042112fd-2308-4f6f-a3bc-07114de1ad9c"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "connectionName": "shared_commondataserviceforapps",
                                        "operationId": "CreateRecord"
                                    },
                                    "parameters": {
                                        "entityName": "leads",
                                        "item/lastname": "@variables('Invitee Last Name')",
                                        "item/subject": "@triggerOutputs()?['body/payload/scheduled_event/name']",
                                        "item/emailaddress1": "@triggerOutputs()?['body/payload/email']",
                                        "item/firstname": "@variables('Invitee First Name')",
                                        "item/ownerid@odata.bind": "@variables('Owner ID')"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Set_new_Lead_ID": {
                                "runAfter": {
                                    "Create_lead": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "f6c47b59-21e0-439b-b7b5-29bee0132f18"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Lead ID",
                                    "value": "@outputs('Create_lead')?['body/@odata.id']"
                                }
                            }
                        }
                    },
                    "expression": {
                        "greater": [
                            "@length(outputs('Find_Lead_by_email')?['body/value'])",
                            0
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "6bd05c56-ed53-4106-a3a7-b9c78bf5b99a"
                    },
                    "type": "If"
                },
                "Find_Owner_by_email": {
                    "runAfter": {
                        "Find_Lead_by_email": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "1c681042-8fee-4303-8d2c-60541305bcef"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords"
                        },
                        "parameters": {
                            "entityName": "systemusers",
                            "$select": "internalemailaddress,systemuserid",
                            "$filter": "internalemailaddress eq '@{first(triggerOutputs()?['body/payload/scheduled_event/event_memberships'])['user_email']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Does_owner_exist": {
                    "actions": {
                        "Set_Owner_ID": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "fa8d6675-aad1-4d7d-96af-145674d892ff"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Owner ID",
                                "value": "@{first(outputs('Find_Owner_by_email')?['body/value'])['@odata.id']}"
                            }
                        }
                    },
                    "runAfter": {
                        "Find_Owner_by_email": [
                            "Succeeded"
                        ]
                    },
                    "expression": {
                        "greater": [
                            "@length(outputs('Find_Owner_by_email')?['body/value'])",
                            0
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ef410de2-73e5-480b-b2ee-9fb1a00e06f8"
                    },
                    "type": "If"
                },
                "Initialize_Owner_ID": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "c1e2ab59-db8f-4232-a120-0536c3418efc"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Owner ID",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Initialize_Lead_ID": {
                    "runAfter": {
                        "Initialize_Owner_ID": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "b403a422-07ce-412b-9d2c-0b1dd06d13e5"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Lead ID",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Initialize_Invitee_First_Name": {
                    "runAfter": {
                        "Initialize_Lead_ID": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "93b0c819-7a7c-4f93-ad3d-2ce6e886f612"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Invitee First Name",
                                "type": "string",
                                "value": "@triggerOutputs()?['body/payload/first_name']"
                            }
                        ]
                    }
                },
                "Initialize_Invitee_Last_Name": {
                    "runAfter": {
                        "Initialize_Invitee_First_Name": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "42acba80-4ee1-412f-8c31-d047e79aea18"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Invitee Last Name",
                                "type": "string",
                                "value": "@triggerOutputs()?['body/payload/last_name']"
                            }
                        ]
                    }
                },
                "Was_first_name_and_last_name_provided": {
                    "actions": {},
                    "runAfter": {
                        "Initialize_Invitee_Last_Name": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Set_Invitee_First_Name": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "b78f8b45-8653-44d2-8635-c13b483a108c"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "Invitee First Name",
                                    "value": "@{split(triggerOutputs()?['body/payload/name'], ' ')[0]}"
                                }
                            },
                            "Was_last_name_provided": {
                                "actions": {
                                    "Set_Invitee_Last_Name": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "370f9a62-7323-4df5-a04f-7c5aec3a7a77"
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "Invitee Last Name",
                                            "value": "@{last(split(triggerOutputs()?['body/payload/name'], ' '))}"
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Set_Invitee_First_Name": [
                                        "Succeeded"
                                    ]
                                },
                                "else": {
                                    "actions": {
                                        "Last_Name_Not_Provided": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "05c2610f-489b-404b-8995-dd8bbb94ff4e"
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Invitee Last Name",
                                                "value": "NotProvided"
                                            }
                                        }
                                    }
                                },
                                "expression": {
                                    "greater": [
                                        "@length(split(triggerOutputs()?['body/payload/name'], ' '))",
                                        1
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "05d0f0dd-16e6-469e-b27a-5ca81002e70d"
                                },
                                "type": "If"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "not": {
                                    "equals": [
                                        "@variables('Invitee First Name')",
                                        ""
                                    ]
                                }
                            },
                            {
                                "not": {
                                    "equals": [
                                        "@variables('Invitee Last Name')",
                                        ""
                                    ]
                                }
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "adb0f07a-8297-425f-861f-2160c6295010"
                    },
                    "type": "If"
                }
            },
            "outputs": {}
        },
        "connectionReferences": {
            "shared_commondataserviceforapps": {
                "connectionName": "ad529990995d4a2f883ef9bb22c53b05",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                "tier": "NotSpecified"
            },
            "shared_calendlyv2": {
                "connectionName": "3cbcbf1b6b3340349abc1e225e799bb9",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_calendlyv2",
                "tier": "NotSpecified"
            }
        },
        "flowFailureAlertSubscribed": false,
        "isManaged": false
    }
}